@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

.header h2, h1 {
    font-weight: 900; 
    color: #F9FAF8;
    margin: 0;
}

p {
    font-size: 17px;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.landing-right {
    display: flex;
}

.landing p {
    color: #E5E7EB;
}

.top-container, .footer {
    background-color: #1F2937;
}

.top-container {
    display: flex;
    flex-direction: column;
    padding: 1em 7% 3em 7%;
    gap: 7em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

.landing-left {
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;
    gap: 0.5em;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 8%;
    gap: 1em;
}

.signup-container {
    display: flex;
    padding: 5em 0;
    justify-content: center;
    align-items: center;    
}

.signup {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    padding: 3% 6%;
    border-radius: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 73%;
}

.btn-1 {
    background-color: #3882F6;
    color: white;
    width: 7.4em;
    padding: 0.5em 0;
    border-radius: 0.5em;
    font-size: 18px;
    font-weight: 550;
    border: none;
}

.square {
    width: 8em;
    height: 8em;
    border: #3882F6 solid 4px;
    border-radius: 1em;
    margin-bottom: 1em;
}

.profiles p {
    color: #1F2937;
    text-align: center;
}

.profiles h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 9em 0;
}

.profile-container {
    display: flex;
    margin: 0 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3em;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 10em;
    align-items: center;
    text-align: center;
}

.quote p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    max-width: 75%;
}

.quote .quote-author {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    color: #1F2937;
    align-self: flex-end;
}

.signup h3 {
    color: white;
    font-size: 25px;
    margin: 0;
}

.signup p {
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 100;
}

.btn-2 {
    background-color: transparent;
    border: white solid 2px;
    color: white;
    border-radius: 0.5em;
    font-size: 17px;
    font-weight: bold;
    padding: 0 2em;
    min-height: 2em;
}

.footer {
    height: 8em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}